<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/84b683efb8.js"></script>-->

    <title>My Website</title>
</head>
<body>

<!-- Modal for Employee-->
<div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/newEmployee" method="post">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name of Employee</label>
                        <input  name="name" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="Employee">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">KRA Pin</label>
                        <input name="kra_pin" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="KRA Pin">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Gender</label>
                        <input name="gender" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="gender">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">National Id</label>
                        <input name ="national_id" required type="text" class="form-control" id="formGroupExampleInput"
                               placeholder="National ID">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Department</label>
                        <select name="department" type="text" required class="form-control">
                            {% for each in departments %}
                            <option value=" {{ each.id }}">{{ each.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Email</label>
                        <input name="email" required type="email" class="form-control" id="formGroupExampleInput"
                               placeholder="email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Basic Salary</label>
                        <input name="basic_salary" required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="basic salary">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Benefits</label>
                        <input name="benefits" required type="number" class="form-control" id="formGroupExampleInput"
                               placeholder="benefits">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput"></label>
                        <input type="submit" class="form-control btn btn-primary">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div>
    <div class="container-fluid">
        <!--<header id="main-header">-->
        <!--<div class="row no-gutters">-->
        <div class="d-flex flex-column">
            <div class="d-block p-2 bg-dark text-white">
                <div class="d-flex flex-row justify-content-between align-items-left">
                    <h1 class="display-7 text-left">Home</h1>
                    <!--<img class="fab fa-home">-->
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <h2 class="display-7 text-center">About us</h2>
                    <!--<img class="fab fa-face">-->
                </div>
                <div class="d-flex flex-row justify-content-between align-items-right">
                    <h2 class="display-7 text-right">Contacts</h2>
                    <!--<img class="fab fa-telephone">-->
                </div>
            </div>


        </div>

        <!-- Button trigger modal for Employee-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newEmployee">
            Generate Payroll
        </button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name of Department</th>
                <th scope="col">Employees</th>
            </tr>
            </thead>
            <tbody>
            {%  for each in departments %}
            <tr>
                <th scope="row">{{ each.id }}</th>
                <td>{{ each.name }}</td>
                <td><a href="/employees/{{ each.id }}" >View Employees</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">gender</th>
                <th scope="col">email</th>
                <th scope="col">national_id</th>
                <th scope="col">kra_pin</th>
                <th scope="col">basic_salary</th>
                <th scope="col">benefits</th>
                <th scope="col">Payrolls</th>
            </tr>
            </thead>
            <tbody>
            {%  for each in employees %}
            <tr>
                <th scope="row">{{ each.id }}</th>
                <td>{{ each.name }}</td>
                <td>{{ each.gender }}</td>
                <td>{{ each.kraPin }}</td>
                <td>{{ each.email }}</td>
                <td>{{ each.nationalId }}</td>
                <td>{{ each.basicSalary }}</td>
                <td>{{ each.benefits }}</td>
                <td><a href="/payrolls/{{ each.id }}" >View Payrolls</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<footer>
    <p> © 2019 Vanessa</p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
